* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'IBMPlexSansKR-Light';
  src: url(./assets/fonts/IBMPlexSansKR-Light.ttf);
}

@font-face {
  font-family: 'IBMPlexSansKR-Bold';
  src: url(./assets/fonts/IBMPlexSansKR-Bold.ttf);
}

@font-face {
  font-family: 'IBMPlexSansKR-ExtraLight';
  src: url(./assets/fonts/IBMPlexSansKR-ExtraLight.ttf);
}

@font-face {
  font-family: 'IBMPlexSansKR-Medium';
  src: url(./assets/fonts/IBMPlexSansKR-Medium.ttf);
}

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url(./assets/fonts/IBMPlexSansKR-Regular.ttf);
}

@font-face {
  font-family: 'IBMPlexSansKR-SemiBold';
  src: url(./assets/fonts/IBMPlexSansKR-SemiBold.ttf);
}

@font-face {
  font-family: 'IBMPlexSansKR-Thin';
  src: url(./assets/fonts/IBMPlexSansKR-Thin.ttf);
}
